
select{
  width: 250px;
}

.btn{
  margin-top: 10px;
  width: 250px;
}

.submitBtn{
  margin-bottom: 50px;
}

.navbar{
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 0;
  background-color: #101e2d;
}

.well{
  background-color: #b2c1c1;
  /*font-family: 'Playball', cursive;*/
  border-radius: 0px;
  border-color: #b2c1c1;
}
